<div class="copyright" align="center">
    <script>
        document.write('&copy;' );
        document.write(' 2022 ');
        document.write(' dr-noah.com - All Rights Reserved.');
    </script>
</div>
